{
	"presets": [
		"@babel/preset-react", 
		"@babel/preset-env",
		"minify"
	],
	"plugins": [
		"@babel/plugin-transform-classes",
		"@babel/plugin-transform-spread",
		"@babel/plugin-transform-runtime",
		["@babel/plugin-proposal-decorators", { "legacy": true }],
    	["@babel/plugin-proposal-class-properties", { "loose" : true }]
	]
}
